.sign-in-page {
  height: 100vh;
  background-image: url(/src/imgs/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-in {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 90%;
  max-width: 430px;
  padding: 60px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.85);
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.sign-in h2 {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.sign-in form {
  margin: 25px 0 40px;
}

form .info {
  position: relative;
  height: 50px;
  margin-bottom: 25px;
}

.info input {
  width: 390px;
  height: 100%;
  background: #333;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 1rem;
  padding: 0px 20px;
  transition: all 0.2s ease;
}

.info input:is(:focus, :valid) {
  padding: 16px 20px 0;
  background: #444;
}

.info label {
  position: absolute;
  left: 20px;
  top: 50%;
  color: #8c8c8c;
  pointer-events: none;
  transform: translateY(-50%);
  font-size: 1rem;
  transition: transform 0.2s ease, font-size 0.2s ease;
}

.info input:is(:focus, :valid)~label {
  transform: translateY(-130%);
  font-size: 0.75rem;
}

form .sign-in-btn {
  width: 100%;
  padding: 16px 0;
  font-size: 1rem;
  border: none;
  color: #fff;
  font-weight: 500;
  border-radius: 4px;
  margin: 20px 0 10px;
  background: rgb(0, 25, 181);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

form .sign-in-btn:hover {
  background: rgb(0, 16, 122);
}

form .help {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form .remember {
  display: flex;
  align-items: center;
}

form .remember input {
  margin-right: 5px;
  accent-color: #b3b3b3;
}

form .help :where(label, a) {
  font-size: 0.9rem;
}

.sign-in :where(label, p, a) {
  color: #b3b3b3;
}

.sign-in p a {
  color: #fff;
  text-decoration: none;
  transition: text-decoration 0.2s ease;
}

.sign-in p a:hover {
  text-decoration: underline;
}

@media (max-width: 740px) {

  nav,
  .sign-in {
    padding: 20px;
  }

  .sign-in {
    top: 45%;
    width: 100%;
  }

  .sign-in form {
    margin: 25px 0 40px;
  }
}