.genres-container {
  padding-top: 40px;
  height: 100vh;
  width: 200px;
  margin: 20px;
  font-family: 'Arial', sans-serif;
  text-align: center;
}

.genres-container h3 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 15px;
}

.genres-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.genre-button {
  background-color: #007bff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.genre-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.genre-button.active-genre {
  background-color: #0056b3;
  transform: scale(1.05);
}

.genre-link {
  text-decoration: none;
  color: white;
  display: block;
}

@media (max-width: 768px) {
  .genres-container {
    width: 100%;
    margin: 10px;
    padding: 15px;
  }

  .genres-container h3 {
    font-size: 1.1rem;
  }

  .genre-button {
    width: calc(50% - 5px);
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .genre-button {
    width: 100%;
  }
}