.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: black;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  align-items: center;
  padding: 0 50px;
  height: 100%;
  color: white;
  font-family: 'sen', sans-serif;
}

.logo-container {
  flex: 1;
  cursor: pointer;
}

.logo {
  font-family: 'sen', sans-serif;
  font-size: 30px;
  color: rgb(0, 25, 181);
  cursor: pointer;
}

.menu-container {
  flex: 6;
}

.menu-list {
  display: flex;
  list-style: none;
}

.menu-list-item {
  margin-right: 30px;
  cursor: pointer;
  color: white;
}

.menu-list-item.active {
  font-weight: bold;
  text-decoration: underline;
}

.menu-list-item:hover {
  font-weight: bold;
  text-decoration: underline;
}

.menu-list-item a {
  color: inherit;
  text-decoration: none;
}

.search-bar {
  display: flex;
  margin: 15px;
  align-items: center;
  justify-content: flex-end;
  width: max-content;
  height: 20px;
  padding: 6px;
  border-radius: 28px;
  background: #c8c7c7;
  transition: background 0.25s;
}

.search-bar:focus-within {
  background: #fffefe;
}

.search-bar:hover {
  background: #f6f6f6;
}

.search-input {
  font-size: 14px;
  font-family: 'sen', sans-serif;
  color: #333333;
  margin-right: 6px;
  outline: none;
  border: none;
  background: transparent;
  flex: 1;
}

.search-input::placeholder,
.search-icon {
  color: rgba(0, 0, 0, .5);
}

.search-icon {
  font-size: 18px;
  color: rgba(0, 0, 0, .5);
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
}

.search-bar button {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
}

.signin-btn {
  display: flex;
  padding: 5px 15px;
  margin: 5px;
  font-size: 14px;
  font-weight: bold;
  background-color: rgb(0, 25, 181);
  color: white;
  border: 2px solid rgb(0, 25, 181);
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s, border-color 0.3s;
}

.signin-btn:hover {
  background-color: rgb(0, 30, 210);
  border-color: rgb(0, 30, 210);
}

@media only screen and (max-width: 940px) {
  .menu-container {
    display: none;
  }
}